@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Selector universal*/
*{
    font-family: "Poppins";
    padding: 0; 
    margin: 0;
    box-sizing: border-box
}

/*Selector de tipo: Etiqueta*/
body{
    background-color: chocolate;
}

main{
    display: flex;
    flex-wrap: wrap;
}

h1{
    color:white;
}

/*Selector de tipo: Clase*/
/*box-sizing: border-box, se usa para que el total del box incluya la medida de los padding, border y margen, mientras que box-sizing: content-box no considera las medidas de padding, margin y border dentro de la medida que se estableció para width & height*/
.tarjeta {
    width: 320px;
    background-color: antiquewhite;
    border-radius: 3%;
    /*Centrando elementos*/
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px 10px;
    padding: 12px;
    border: 2px solid black;
    transition: all 0.4s ease-in-out; /*transición suave*/
}

/*Pseudo clase*/
.tarjeta:hover{
    background-color: rgba(160, 111, 111, 0.828);
    transform: scale(1.05);
    transform: rotate(3deg);
}

.tarjeta .imagen{
    width: 200px;
    text-align: center;
}

.tarjeta img{
    width: 120px;
    height: 120px;
    background-color: aliceblue;
    object-fit: cover;
    border-radius: 5%;
}

.tarjeta p{
    font-size: 20px;
}

#perro{
    color:blueviolet
}

#gato{
    color: blue;
}
